.Encabezado {
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url('../Imagenes/fondo5.PNG');
    background-size: cover;
    font-size: large;

}

.parteSuperior {
    text-align: center;
    font-size: large;
    color: #fff;
}

.Titulo-Form,
h2 {
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.txtPromedio {
    border-radius: 20px;
}

#contenedorBtnAgregar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Seccion-Formulario{
    display: none;
}

.Fielset-cargar {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-top: 50px;
    /*text-align: center;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(9, 0, 0, 1);
    color: #fff;
}

.Fielset-cargar select,
.Fielset-cargar input[type="text"] {

    align-items: center;
    width: 98%;
    padding: 1%;
    margin: 1% 0;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #333;
}


.camposSegunTipo {
    width: 400px;
    display: none;
}
.camposSegunTipo input[type="number"]{
    align-items: center;
    width: 98%;
    padding: 1%;
    margin: 1% 0;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #333;
}


select {
    display: block;
    margin-bottom: 10px;
    width: 600px;
    text-align: center;
    font-size: large;
}

th,
td,
tr {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.chk {
    display: -webkit-inline-flex;
    align-self: center;
    align-items: center;
    justify-items: center;
    font-weight: normal;
    color: #333;
    color: #fff;
    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-size: large;
}


.cheks input[type="checkbox"] {
    vertical-align: bottom;
    margin-right: 10px;
}

.parteSuperior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



th {
    background-color: #406083;
    color: #fff;
    font-size: large;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    box-shadow: #fff;
}

td {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-size: large;
}


input[type="submit"],
input[type="button"] {
    align-items: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}